@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


:root {
  --color_nav:     #c8c7c7    ;
  --color_icons:    #2f2d2c ;
  --color_indic:    #ecc4a4   ;
  --color_border_ind: #242c24 ;
}
/*.sec {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #DCAD9B;
    background-color: #2A2B2D;
    letter-spacing: 2px;
    transition: 0.5s;
}

.sec:nth-child(3) {
    background-color: aqua;
    transition: 0.5s;
}

.sec:nth-child(4) {
    background-color: rgb(60, 148, 90);
    transition: 0.5s;
}

 .sec:nth-child(5) {
    background-color: rgb(26, 119, 173);
    transition: 0.5s;
}

*/

body {
  scrollbar-width: none;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  display: none;
}

/*.container section {


}
*/

/*SECCIONES*/
/*SECCION1*/
.sec1 {
  background-color: #2a2b2d;
  letter-spacing: 1px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  color: #e0beb0;
}

.sec2 {
  background-color: #4d4f4e;
  letter-spacing: 2px;
  min-width: 100%;
  height: 100vh;
  font-size: 18px;
  color: #e0beb0;
  font-family: "Poppins", sans-serif;
}

/*SECCION2*/
/* .sec:nth-child(2) {
  background-color: #4d4f4e;
  transition: 0.2s;
}

.sec:nth-child(3) {
  background-color: #526465;
  transition: 0.2s;
}

.sec:nth-child(4) {
  background-color: #545c6c;
  transition: 0.2s;
} */

/*NAVBAR*/

.navbar {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  width: 200px;
  position: relative;
  text-align: right;
}

.navbar ul li .punto {
  color: rgb(80, 57, 57);
  display: block;
  padding: 5px 0;
}

.navbar ul li .punto span {
  display: inline-block;
  background: #e0beb0;
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-right: 30px;
  border-radius: 3px;
  transform: translateX(5px);
  transform: translateY(6px);
  opacity: 0;
  transition: 0.3s ease-out;
}

.navbar ul li:hover .punto span {
  opacity: 1;
}

.navbar ul li .punto span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(7px, -40%);
  border-left: 7px solid #e0beb0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: block;
}

.navbar ul li .punto::before,
.navbar ul li .punto::after {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: block;
  transition: 0.2s ease-in-out;
}

.navbar ul li .punto::before {
  height: 5px;
  width: 5px;
  border: 2px solid rgb(136, 128, 128);
  right: 0;
  transform: translatey(30%);
}

.navbar ul li .punto.active::before,
.navbar ul li:hover .punto::before {
  border-color: #e0beb0;
  background: #e0beb0;
}

.navbar ul li .punto::after {
  height: 20px;
  width: 20px;
  border: 2px solid #e0beb0;
  right: -7px;
  transform: translateY(-50%) scale(0);
  top: 22px;
}

.navbar ul li .punto.active::after,
.navbar ul li:hover .punto::after {
  transform: translateY(-10%) scale(1);
}

/*NAVBAR2*/

/*.....................................................*/
/*.....................................................*/
/*perfil*/

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.perfil-description {
  width: 30%;
  font-size: 0.5em;
  text-align: center;
  margin: 20px;
  padding-right: 25px;
  padding-left: 30px;
}

.perfil-description h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6em;
  text-align: left;
  height: 80px;
  text-shadow: 4px 2px 9px #545c6c;
}

.perfil-description p {
  text-align: left;
  font-size: 2.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.perfil img {
  border-radius: 50%;
  box-shadow: -1px 3px 30px 14px #1e2022;
}

.cargo {
  color: #2f2d2c;
  font-weight: bold;
  text-align: left;
  width: 700px;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
}

.cargo-box {
  background-color: #b98d6b;
  padding: 3px;
  width: 600px;
  margin: auto;
}

.espacio {
  height: 50px;
}

/*SOCIAL*/

.media ul li {
  list-style: none;
  display: inline-flex;
  font-size: 5em;
  margin: 10px 30px;
  cursor: pointer;
}

.link:hover {
  color: #899094;
  transition: 0.5s;
}

.link {
  text-decoration: none;
  color: #9e8474;
}

.navbar2 {
  width: 100%;
  height: 50px;
  background-color:   var(--color_nav)  ;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
transition: 0.5s;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 30;
  bottom: 0%;
}

.navbar2 ul {
  display: flex;
}

.navbar2 ul li {
  position: relative;
  list-style: none;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;

  z-index: 1;
}

.navbar2 ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.navbar2 ul li a .icon {
  position: relative;
  display: block;
  font-size: 1.7em;
  line-height: 70px;
  text-align: center;
  transition: 0.5s;
  color:  var(--color_icons);
}

.navbar2 ul li.active2 a .icon {
  transform: translateY(-31.5px);
}

.navbar2 ul li a .text {
  position: absolute;
  color: #1e2022;
  font-weight: 400;
  font-size:1em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navbar2 ul li.active2 a .text {
  opacity: 1;
  transform: translateY(10px);
}


.indicator {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--color_indic) ;
  top: -62%;
  margin-left: 17px;
  border-radius: 50%;
  border: 2px solid var(--color_border_ind);
  transition: 0.5s;
 
}

.navbar2 ul li:nth-child(1).active2 ~ .indicator
{
  transform: translateX(calc(3px * 1));
}

.navbar2 ul li:nth-child(2).active2 ~ .indicator
{
  transform: translateX(calc(46px * 2));
}
.navbar2 ul li:nth-child(3).active2 ~ .indicator
{
  transform: translateX(calc(59.5px * 3));
}
.navbar2 ul li:nth-child(4).active2 ~ .indicator
{
  transform: translateX(calc(66.5px * 4));
}





/*TERCERA SECCION*/

.sec-title {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 90px;
  margin: auto;
  font-size: 2em;
}

.sec-themes {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  top: 200px;
  font-size: 1.1em;
}
